
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Onest:wght@500&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cinzel', serif;
font-family: 'Fauna One', serif;
font-family: 'Onest', sans-serif;
}


