.trending__section{
    width: 100%;
    position: relative;
}

.large_card{
    width: 95%;
}

.large_card img{
    width: 100%

}

.large__card_body{
    position: relative;
    top: -11rem;
    left: 2.5rem;
}

.large__card_body button {
    padding: 0.6rem 1.2rem;
    color: #fff;
    background-color: black;
    border-radius: 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .large__card_body button:hover {
    opacity: 0.7;
  }